
<form name ="form" style="margin: 20px auto;
	width: 320px;
	color: steelblue;" method="POST" action="">
	<h1>Please login</h1>
<input type="text" style="padding: 10px;
	font-size: inherit;display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
	background: #FAF6D9;" name="uname" placeholder="Enter Uname"><br/><br/>
<input type="password" style="padding: 10px;
	font-size: inherit;display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
	background: #FAF6D9;" name="upass" placeholder="Enter Password"><br/><br/>
<input type="submit">
</form>
